.band {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.group__wrap{
display: flex;
}
.band__title {
    width: 100%;
    flex-shrink: 0;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px
}
.group {
    padding: 10px;
    margin: 5px;
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}
.group:hover{
    transform: scale(1.03);
  }