@font-face {
    font-family: 'OpenSans_Condensed';
    src: url("../fonts/OpenSans_Condensed-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: "OpenSans_Condensed";
    src: url("../fonts/OpenSans_Condensed-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    }
    @font-face {
    font-family: "OpenSans_Condensed";
    src: url("../fonts/OpenSans_Condensed-Italic.ttf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}