.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
   }
   .menu__link{
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(140, 40, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
   }  
   .header_button{
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(184, 126, 250);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 15%;
    flex-shrink: 0;
   }