.applications {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 44, 44);
    z-index: 3;
}
.application {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 800px;
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 64px;
    background-color: rgb(58, 58, 58);
    color: white;
    height: 100vh;
    overflow-y: auto;
}
.application__title {
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.application__text {
    margin-top: 5px;
    font-size: 20px;
}

.application__wrap{
    display: block;
    height: 97%;
   
}

.application__close{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 2px solid rgb(97, 61, 255);
    border-radius: 5px;
    background-color: rgb(58, 58, 58);
  }
   
  .application__close:hover {
    background-color: rgb(97, 61, 255);
  }

.news__image {
    width: 100%;
    height: 300px;
    object-fit: cover; 
}