.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное положение */
    z-index: 3; /* Отображается над остальным контентом */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Включаем прокрутку, если контент больше экрана */
    background-color:black; 
}

.modal-content {
    margin: 15% auto; /* Позиционирование окна */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 0.5s;
    justify-content: column;

}

@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover, .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalImg {
    width: 500px;
    height: 500px;
    
}




